html {
  --orange: rgb(251, 158, 9);
  --blue: rgb(20, 153, 162);
  --red: rgb(219, 57, 50);
}

html[data-theme="light"] {
  --primary: rgb(36, 41, 45);
  --secondary: rgb(106, 115, 125);
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(250, 251, 252);
  --border-primary: rgb(209, 213, 217);
  --border-secondary: rgb(226, 228, 232);
  --text-primary: rgb(36, 41, 46);
}

html[data-theme="dark"] {
  --primary: rgb(4, 224, 85);
  --secondary: rgb(68, 85, 102);
  --bg-primary: rgb(19, 24, 27);
  --bg-secondary: rgb(31, 38, 45);
  --border-primary: rgb(68, 85, 102);
  --border-secondary: rgb(43, 52, 64);
  --text-primary: rgb(255, 255, 255);
}

/**
 * BASE
 * ---
 * Variables should follow the `$component-state-property-size` formula for
 * consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
 */

:root {
  --rem-base: 0.85;

  /* FONT FAMILY */
  --font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  /* FONT SIZES -- Assumes the browser default, typically `16px` */
  --font-size-base: calc(1rem * var(--rem-base));
  --font-size-lg: calc(var(--font-size-base) * 1.25);
  --font-size-md: calc(var(--font-size-base) * 1);
  --font-size-sm: calc(var(--font-size-base) * 0.8);
  --font-size-xs: calc(var(--font-size-base) * 0.7);

  /* FONT WEIGHT */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* LINE HEIGHTS */
  --line-height-base: 1.5;

  /* HEADING */
  --h1-font-size: calc(var(--font-size-base) * 2.5);
  --h2-font-size: calc(var(--font-size-base) * 2);
  --h3-font-size: calc(var(--font-size-base) * 1.75);
  --h4-font-size: calc(var(--font-size-base) * 1.5);
  --h5-font-size: calc(var(--font-size-base) * 1.25);
  --h6-font-size: calc(var(--font-size-base));
}

/** MEDIA QUERIES -- You can't use var in media queries (just yet) so put the actual value **/

/* var(--bp-tablet) */
@media (min-width: 768px) {
  :root {
    --rem-base: 0.875;
  }
}

/* var(--bp-laptop) */
@media (min-width: 1024px) {
  :root {
    --rem-base: 0.95;
  }
}

/* var(--bp-laptopl) */
@media (min-width: 1366px) {
  :root {
    --rem-base: 1;
  }
}

/* var(--bp-desktop) */
@media (min-width: 1920px) {
  :root {
    --rem-base: 1.25;
  }
}

/* var(--bp-tv) */
@media (min-width: 2560px) {
  :root {
    --rem-base: 1.5;
  }
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  color: var(--text-primary);
  background-color: var(--bg-secondary);
}

.react-date-picker__button svg {
  stroke: var(--text-primary);
}
