/* madBlue: "rgb(20, 153, 162)",
madOrange: "rgb(251, 158, 9)",
madYellow: "rgb(247, 228, 0)" */

html {
  --orange: rgb(251, 158, 9);
  --blue: rgb(20, 153, 162);
  --red: rgb(219, 57, 50);
}

html[data-theme="light"] {
  --primary: rgb(36, 41, 45);
  --secondary: rgb(106, 115, 125);
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(250, 251, 252);
  --border-primary: rgb(209, 213, 217);
  --border-secondary: rgb(226, 228, 232);
  --text-primary: rgb(36, 41, 46);
}

html[data-theme="dark"] {
  --primary: rgb(4, 224, 85);
  --secondary: rgb(68, 85, 102);
  --bg-primary: rgb(19, 24, 27);
  --bg-secondary: rgb(31, 38, 45);
  --border-primary: rgb(68, 85, 102);
  --border-secondary: rgb(43, 52, 64);
  --text-primary: rgb(255, 255, 255);
}

body {
  background-color: var(--bg-primary);
}

.react-date-picker__button svg {
  stroke: var(--text-primary);
}
